.filter {
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 64px;
}

.filter .filter_item {
    width: 136px;
    height: 136px;
    background: url(/img/bg-filter-item.png) no-repeat center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--textContrast);
    font-size: 20px;
    font-family: Inter;
    cursor: pointer;
}

.filter .filter_item:hover {
    opacity: 0.8;
}

.filter_item .icon {
    width: 56px;
    height: 56px;
}

.filter_item.active {
    opacity: 0.7;
}